* {
	margin:0;
	padding:0;
	font-size:100%;
	font-weight:normal;
	float:none;
}
html {
	font-family:Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size:100%;
	background:#222;
	color:#ddd;
	line-height:1.4;
	width:100%;
}
body {
	background:#ddd;
	color:#222;
	width:42rem;
	max-width:calc(100% - 2rem);
	margin:0 auto;
	padding:1rem;
	min-height:100vh;
}
header {
	background:#009051;
	color:#000;
	border-bottom:1px dashed #ddd;
	text-align:center;
	margin:-1rem -1rem 0;
	padding:1rem;
}
footer {
	margin:-1rem;
	padding:1rem;
	text-align:center;
	font-size:80%;
}
hr {
	border:none;
	border-top:1px solid #222;
	border-bottom:1px solid #fff;
	width:25%;
	margin:0.5rem auto;
}
.logo {
	width:8rem;
	max-width:100%;
	height:auto;
}
h1 {
	font-weight:bold;
	font-size:156.25%;
}
h2 {
	text-align:center;
	font-weight:bold;
	font-size:125%;
}
h3 {
	display:inline-block;
	font-weight:bold;
	font-size:100%;
	margin-top:1rem;
}
h3+p {
	display:inline-block;
}
p+p {
	padding-top:1rem;
}
article {
	width:100%;
	max-width:100%;
	margin:1rem auto;
}
article.narrow {
	width:16rem;
	max-width:100%;
	text-align:center;
}
article.game {
	margin:2rem -1rem;
	box-shadow:0 0 1rem #222;
	padding:0 1rem 1rem;
	text-align:center;
}
.game h2 {
	padding:0.5rem;
	margin:0 -1rem 1rem;
	text-align:center;
	background:#fff;
	color:#ff2f92;
	border-top:1px solid #222;
	border-bottom:1px solid #222;
}
.cover {
	vertical-align:top;
	display:inline-block;
	width:8rem;
	max-width:100%;
	height:auto;
	margin-bottom:1rem;
}
.screenshot-holder {
	display:flex;
	justify-content:space-between;
	margin:1rem auto 0;
} 
.game .screenshot {
	display:inline-block;
	width:30%;
	height:auto;
	margin:0;
}
.game .screenshot-single {
	display:block;
	margin:1rem auto 0;
	max-width:67%;
	height:auto;
}
.game .description {
	text-align:left;
	vertical-align:top;
	display:inline-block;
	margin-left:0.5rem;
	width:33rem;
	max-width:100%;
}
.game .description ul {
	list-style-type:none;
	border-left:0.25rem solid #ff2f92;
	margin-left:-0.75rem;
	padding-left:0.5rem;
}
abbr {
	font-size:80%;
}
sup {
	font-size:80%;
}
.tm {
	font-weight:bold;
}
a{
	color:#B05;
	text-decoration:none;
}
a:hover, a:active {
	color:#804;
	border:0.125em solid #009051;
	padding:0.125em;
	margin:-0.25em;
}
#rss {
	position:absolute;
	top:0.5rem;
	right:1rem;
}
#rss a {
	color:inherit;
}
#rss a:hover, .rss a:active {
	color:inherit;
	border:0;
	padding:0;
	margin:0;
}
